/* Font Families
h1 - Display
  font-family: 'Libre Caslon Display', serif;

p - Plain
  font-family: 'Sen', sans-serif;

fancy - Lindsey Signature
  font-family: 'Lindsey Signature';

   */

h1,
h2,
h3 {
  font-family: 'Libre Caslon Display', serif;
}

h1 {
  font-size: 3rem;
}
p {
  font-family: 'Sen', sans-serif;
}

.loginform {
  display: flex;
  flex-direction: column;
  font-family: 'Sen', sans-serif;
}

.button {
  font-family: 'Libre Caslon Display', serif;
  text-transform: uppercase;
  width: max-content;
  padding: 0.75rem 0.85rem;
  border-radius: 0;
  border: hidden;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

.button:hover {
  background-color: rgb(52, 52, 52);
  cursor: pointer;
}

.input-text-placeholder {
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}
.txt-input {
  width: 75%;
  height: 2.5rem;
  margin: 1rem 0 2rem 0;
}
