/* Font Families 
h1 - Display
  font-family: 'Libre Caslon Display', serif;

p - Plain
  font-family: 'Sen', sans-serif;

fancy - Lindsey Signature
  font-family: 'Lindsey Signature';

   */

h1,
h2,
h3 {
  font-family: 'Libre Caslon Display', serif;
}

p {
  font-family: 'Sen', sans-serif;
}
